<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>FullStack Template</title>
</head>
<body>
    <h2>Testing, Testing</h2>
    <h2>Random Grocery List:</h2>
    <ul>
        <li>Milk</li>
        <li>Eggs</li>
        <li>Water</li>
        <li>Steak</li>
    </ul>
    <script src="/public/main.js"></script>
</body>
</html>